/*
red: "#eb7184",
orange: "#f38d70",
yellow: "#f1cd7a",
green: "#adda78",
blue: "#6ab0f3",
cyan: "#85dacc",
*/

.draggable-box {
  position: relative;
  background-color: #6ab0f3; /* bg-blue-500 */
  width: 12rem; /* w-48 */
  height: 12rem; /* h-48 */
  color: white;
  padding: 1rem; /* p-4 */
  border-radius: 1rem; /* rounded-2xl */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}

.draggable-box.minecraft {
  background-image: url("/block.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.drag-handle.header {
  opacity: 0.5 !important;
}

.drag-handle {
  font-family: 'Monocraft', Times, serif;
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem; /* h-8 */
  background-color: rgba(128, 128, 128, 0.5); /* bg-blue-600 */
  border-top-left-radius: 1rem; /* rounded-t-2xl */
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem;
}

.drag-handle-title {
  color: white;
  font-size: 0.875rem; /* text-sm */
}

.node-content {
  margin-top: 1.5rem; /* mt-6 */
  user-select: none;
}

.function-display {
  font-size: 0.75rem; /* text-xs */
  padding: 1.25rem; /* p-5 */
  color: white;
  overflow: auto;
  white-space: pre-wrap;
  max-height: 7rem;
}

.value-label {
  display: inline-block;
  font-family: "Cartograph CF", "Jetbrains Mono", monospace;
  color: black;
  font-size: 0.75rem; /* text-xs */
  padding: 0.25rem; /* px-1 */
  pointer-events: none; /* Make text non-clickable */
  background-color: white;
  border-radius: 0.25rem;
}

/* React Flow specific styles */
.react-flow__node {
  padding: 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
  border: none !important;
  width: auto !important;
  height: auto !important;
}

.react-flow__handle {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  border: 2px solid white !important;
}

.react-flow__handle-left {
  left: -5px !important;
}

.react-flow__handle-right {
  right: -5px !important;
}

.react-flow__panel {
  z-index: 10 !important;
}
