:root {
  font-family: CaskaydiaCove Nerd Font, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 800;
  /* background-color: #2C2525; */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow__node {
  border-radius: 0.5rem;
}

.react-flow__controls {
  background: transparent;
  box-shadow: none;
}

.react-flow__controls-button {
  margin: 0.1rem;
  border-radius: 0.5rem;
  /* box-shadow: 0px 0px 0px 2px rebeccapurple; */
}

.react-flow__minimap {
  border-radius: 0.5rem;
  border: 3px solid black;
  overflow:hidden;
}

/* .react-flow__pane {
  background-image: "/dirt.jpg";
} */

.context-menu {
  background: white;
  border-style: solid;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  border-radius: 1rem;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}

.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.context-menu button:hover {
  /* background: white; */
  filter: brightness(0.9);
}

.theme-switcher {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 10;
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.5rem;
  border: 3px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-flow__attribution {
  display: none;
}
